<%= form_with(model: map) do |form| %>
  <% if map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
        <% map.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :background %>
    <%= form.text_field :background, class: "js-map-data" %>
  </div>

  <div class="field">
    <%= form.label :width %>
    <%= form.number_field :width, class: "js-map-data" %>
  </div>

  <div class="field">
    <%= form.label :height %>
    <%= form.number_field :height, class: "js-map-data" %>
  </div>

  <div class="field">
    <%= form.hidden_field :number_of_axes, class: "js-map-data" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
