<p id="notice"><%= notice %></p>

<h1>Hexes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>X</th>
      <th>Y</th>
      <th>Z</th>
      <th>Background</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hexes.each do |hex| %>
      <tr>
        <td><%= hex.name %></td>
        <td><%= hex.x %></td>
        <td><%= hex.y %></td>
        <td><%= hex.z %></td>
        <td><%= hex.background %></td>
        <td><%= link_to 'Show', hex %></td>
        <td><%= link_to 'Edit', edit_hex_path(hex) %></td>
        <td><%= link_to 'Destroy', hex, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hex', new_hex_path %>
