<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @episode.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @episode.url %>
</p>

<p>
  <strong>Number:</strong>
  <%= @episode.number %>
</p>

<p>
  <strong>Series:</strong>
  <%= link_to @episode.series_name, series_path(@episode.series) %>
</p>

<p>
  <strong>Hexes featured in this episode:</strong>
  <% if @episode.hexes.any? %>
    <ul>
      <% @episode.hexes.find_each do |hex| %>
        <br><li><%= link_to "#{hex.coordinates}: #{hex.name}", hex_path(hex) %></li>
      <% end %>
    </ul>
  <% else %>
    <br>No episodes feature this hex.
  <% end %>
</p>

<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
