<p id="notice"><%= notice %></p>

<p>
  <strong>Npc Type:</strong>
  <%= @npc.npc_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @npc.name %>
</p>

<%= link_to 'Edit', edit_npc_path(@npc) %> |
<%= link_to 'Back', npcs_path %>
